<link rel="stylesheet" href="css/slider.css">
<div class="index-content">
    <!--轮播左侧区域-->
    <style>
        .content-login-box {
            width: 100%;
            height: 140px;
        }
        .content-login-btn {
            margin-left: 60px;
            background:#00a0e9
        }
        .wechat-image {
            width: 180px;
            height: 180px;
            border:1px solid #000;
            padding:3px;
            margin:3px;
        }
        .content--left-text-title {
            padding:0 16px;
            margin-right: 7px;
            margin-left:3px;
            background: #2d82dc;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
        }
        .content-left-text{
            margin-left:3px;
        }
        .content-left-text ul {
            list-style: none;
            padding: 10px 0 0 10px;
            margin-right: 7px;
            border: 1px solid #2d82dc;
        }
        .content-left-text-items a {
            display: inline-block;
            font-size: 12px;
            width: 140px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-decoration: none;
        }
        .content-left-text-items a i {
            vertical-align:middle;
            font-weight: 900;
            color:#000;
        }
    </style>
    <div class="content-left">
        <div class="content-login-box">
            <img src="../images/title-logo.png" style="width:91%;padding:5px 40px;" alt="">
            <button class="btn btn-primary content-login-btn" ng-click="user[0].click()">登陆</button>
        </div>
        <div>
            <img class="wechat-image" src="/images/erweima.jpg" alt="微信公众号">
        </div>
        <div class="content--left-text-title" ng-click="goArticleList()">
            <span>公告列表</span>
        </div>
        <div class="content-left-text">
            <ul>
                <li class="content-left-text-items" ng-repeat="notice in news_list track by $index" ng-click="goArticle(notice.articleId)" ng-show="$index>0&&$index<8">

                    <a href=""><i>·</i> {{notice.title}}</a>
                </li>
                <!--<li class="content-left-text-items">-->

                <!--<a href=""><i>·</i> 中单 老白</a>-->
                <!--</li>-->
                <!--<li class="content-left-text-items">-->

                <!--<a href=""><i>·</i> 打野 张几把武</a>-->
                <!--</li>-->
                <!--<li class="content-left-text-items">-->

                <!--<a href=""><i>·</i> AD 马兆波</a>-->
                <!--</li>-->
                <!--<li class="content-left-text-items">-->
                <!--<a href=""><i>·</i> 辅助 牛得意</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <!--三级菜单-->
    <!--<div class="content-left">-->
    <!--<div class="goods-category">-->
    <!--<div class="category-title">商品分类</div>-->

    <!--&lt;!&ndash; <div class="category-item-list">-->
    <!--<div class="category-item" ng-repeat="item in category_list" ng-click="goCategory($event,item.catId)">-->
    <!--{{item.catName}}-->
    <!--</div>-->
    <!--</div> &ndash;&gt;-->
    <!--&lt;!&ndash;菜单栏在tpls/sidebar-menu.html里面&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="category-item-list" ng-include="'tpls/sidebar-menu.html'"></div>&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash;&lt;!&ndash; 联系我们 &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="contactus" style="background: url(./images/contracts.png) no-repeat;">&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--轮播 导航 公告-->
    <div class="content-right">
        <!-- 消防图片 轮播 -->
        <div class="main-image">
            <div class="slider">
                <div class="slider-wrapper theme-default">
                    <div id="slider" class="main-image nivoSlider" style="text-align: center;">
                        <img src="images/main-img1.jpg" style="width:100%" />
                        <img src="images/main-img2.jpg" style="width:100%" />
                        <img src="images/main-img3.jpg" style="width:100%" />
                    </div>
                </div>
            </div>
        </div>
        <!--公告-->
        <div class="content-main">
            <div class="notice-title">公告</div>
            <div class="notice-content" ng-click="goArticle(notice.articleId)">
                <div class="notice-content-title">{{notice.title}}</div>
                <div class="notice-content-main">{{notice.content}}</div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <!--<style>-->
    <!--#protocol{-->
    <!--width:100%;-->
    <!--border:1px solid #ff0;-->
    <!--float: left;-->
    <!--}-->
    <!--#protocol .con{-->
    <!--height:500px;-->
    <!--}-->
    <!--</style>-->
    <!--<div id="protocol">-->
    <!--<div class="con">1111111</div>-->
    <!--</div>-->
    <!--<div class="main-left">-->
    <!--&lt;!&ndash; <div class="main-menu">-->
    <!--<div class="menu-item">首&nbsp;页</div>-->
    <!--<div class="menu-item">消防采购</div>-->
    <!--<div class="menu-item">售&nbsp;后</div>-->
    <!--<div class="menu-item" ng-click="goSupplier()">供应商入口</div>-->
    <!--</div> &ndash;&gt;-->

    <!--&lt;!&ndash; 新闻动态 &ndash;&gt;-->
    <!--<div class="main-news">-->
    <!--<div class="news-title" ng-click="goArticleList()">公告列表-->
    <!--<h4 class="icon-sort-down" style="float:right;padding-right:10px;"></h4> </div>-->
    <!--<div class="news-content">-->
    <!--<div class="notice-item" ng-repeat="notice in news_list track by $index" ng-click="goArticle(notice.articleId)" ng-show="$index>0&&$index<8">-->
    <!--{{notice.title}}-->
    <!--</div>-->
    <!--&lt;!&ndash; <div class="news-item" style="background: url(./images/news1.png) no-repeat;"></div>-->
    <!--<div class="news-item" style="background: url(./images/news2.png) no-repeat;"></div> &ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--&lt;!&ndash; 公告 &ndash;&gt;-->
    <!--<div class="main-right">-->

    <!--</div>-->

    <!--&lt;!&ndash; 消防图片 &ndash;&gt;-->
    <!--<div class="content-bottom">-->
    <!--</div>-->
    <!--</div>-->


    <!--banner一下 内容区-->
    <!--<style media="screen">-->
    <!--.hot-goods-item1 img,-->
    <!--.hot-goods-item2 img,-->
    <!--.hot-goods-item4 img {-->
    <!--cursor: pointer;-->
    <!--position: relative;-->
    <!--width: 100%;-->
    <!--top: 50%;-->
    <!--transform: translate3d(0, -50%, 0);-->
    <!--}-->


    <!--.hot-goods-item3 img,-->
    <!--.hot-goods-item5 img,-->
    <!--.hot-goods-item6 img {-->
    <!--cursor: pointer;-->
    <!--margin: auto;-->
    <!--height: 100%;-->
    <!--}-->

    <!--.hot-goods-right span.nothing {-->
    <!--position: relative;-->
    <!--width: 100%;-->
    <!--top: 45%;-->
    <!--line-height: 20px;-->
    <!--color: #ccc;-->
    <!--}-->

    <!--.hot-goods-category .goods-name {-->
    <!--position: absolute;-->
    <!--text-shadow: 0 1px #fff, 1px 0 #fff, -1px 0 #fff, 0 -1px #fff;-->
    <!--}-->

    <!--.hot-goods-item1 .goods-name {-->
    <!--width: 180px;-->
    <!--text-align: center;-->
    <!--margin-top: 180px;-->
    <!--font-size: 20px;-->
    <!--}-->

    <!--.hot-goods-item2 .goods-name,-->
    <!--.hot-goods-item3 .goods-name,-->
    <!--.hot-goods-item4 .goods-name,-->
    <!--.hot-goods-item5 .goods-name,-->
    <!--.hot-goods-item6 .goods-name {-->
    <!--font-size: 18px;-->
    <!--margin-top: 10px;-->
    <!--margin-left: 20px;-->
    <!--z-index: 9;-->
    <!--}-->
    <!--</style>-->
    <!--搜索框-->
    <div class="modal-con">
        <div class="GG"></div>
        <div class="title-search" ng-show="isShopUser">
            <div class="search-input">
                <input type="text" class="goods-search" ng-model="keywords" ng-keyup="search_keyup($event)">
            </div>
            <div class="search-goods" ng-click="search()">搜索</div>
        </div>
        <!--<span ng-show="isShopUser" ng-click="goCart()"><img style="width:50%;height:50%;" src="./images/car.png"> ( {{goodsNumber}} ) </span>-->
    </div>

    <!--<style>-->
    <!--.hot-great {-->
    <!--width: 100%;-->
    <!--margin-bottom: 10px;-->
    <!--}-->
    <!--.hot-great-box {-->
    <!--float: left;-->
    <!--width: 560px;-->
    <!--margin:0 5px;-->
    <!--margin-top:10px;-->
    <!--}-->
    <!--/*上面横条*/-->
    <!--.hot-great-title {-->
    <!--width: 100%;-->
    <!--height: 58px;-->
    <!--padding: 16px 25px 16px;-->
    <!--/*background: #8a6d3b;*/-->
    <!--color: #fff;-->
    <!--}-->
    <!--.hot-great-title span {-->
    <!--font-size: 20px;-->
    <!--font-weight: bold;-->
    <!--}-->
    <!--.hot-great-title-btn {-->
    <!--float: right;-->
    <!--}-->
    <!--.hot-great-title-btn a {-->
    <!--display: inline-block;-->
    <!--text-decoration: none;-->
    <!--color: #fff;-->
    <!--padding: 0 6px;-->
    <!--margin-left: 10px;-->
    <!--line-height: 22px;-->
    <!--border: 1px solid #aaa;-->
    <!--/*background: #9d9d9d;*/-->
    <!--}-->
    <!--.hot-great-title-btn a:hover {-->
    <!--border: 1px solid #fff;-->
    <!--}-->
    <!--/*上部分*/-->
    <!--.hot-great-top {-->
    <!--width: 100%;-->
    <!--height: 216px;-->
    <!--}-->
    <!--/*大图*/-->
    <!--.hot-great-classify {-->
    <!--width: 183px;-->
    <!--height: 260px;-->
    <!--float: left;-->
    <!--margin-right: 10px;-->
    <!--overflow: hidden;-->
    <!--}-->
    <!--.hot-great-classify a {-->
    <!--display: inline-block;-->
    <!--width: 174px;-->
    <!--height: 260px;-->
    <!-- -webkit-transition: all .2s;-->
    <!-- -moz-transition: all .2s;-->
    <!-- -ms-transition: all .2s;-->
    <!-- -o-transition: all .2s;-->
    <!--transition: all .2s;-->
    <!--}-->
    <!--.hot-great-classify a:hover {-->
    <!--margin-left: -10px;-->
    <!--}-->
    <!--/*大图右边四个小图*/-->
    <!--.hot-great-four {-->
    <!--float: left;-->
    <!--width: 366px;-->
    <!--height: 260px;-->
    <!--position: relative;-->
    <!--}-->
    <!--/*分割线*/-->
    <!--.hot-great-four-h {-->
    <!--position: absolute;-->
    <!--top:0;-->
    <!--left:183px;-->
    <!--width: 1px;-->
    <!--height: 100%;-->
    <!--background: #e6e6e6;-->
    <!--}-->
    <!--.hot-great-four-v {-->
    <!--position: absolute;-->
    <!--top: 130px;-->
    <!--left: 0;-->
    <!--width: 100%;-->
    <!--height: 1px;-->
    <!--background: #e6e6e6;-->
    <!--}-->
    <!--.hot-great-four a {-->
    <!--position: relative;-->
    <!--width: 183px;-->
    <!--height: 130px;-->
    <!--float: left;-->
    <!--}-->
    <!--/*右边小图*/-->
    <!--.hot-great-four-title {-->
    <!--position: absolute;-->
    <!--top: 35px;-->
    <!--left: 10px;-->
    <!--font-weight: bold;-->
    <!--width:60px;-->
    <!--height:60px;-->
    <!--display: -webkit-box;-->
    <!-- -webkit-box-orient: vertical;-->
    <!-- -webkit-line-clamp: 3;-->
    <!--overflow: hidden;-->

    <!--/*color: #00a2d4;*/-->
    <!--}-->
    <!--.hot-great-four-text {-->
    <!--position: absolute;-->
    <!--top: 40px;-->
    <!--left: 10px;-->
    <!--}-->
    <!--.hot-great-four img {-->
    <!--position: absolute;-->
    <!--top: 10px;-->
    <!--right: 10px;-->
    <!--width: 100px;-->
    <!--height: 100px;-->
    <!-- -webkit-transition: all .2s;-->
    <!-- -moz-transition: all .2s;-->
    <!-- -ms-transition: all .2s;-->
    <!-- -o-transition: all .2s;-->
    <!--transition: all .2s;-->
    <!--}-->
    <!--.hot-great-four img:hover {-->
    <!--right: 20px;-->
    <!--}-->
    <!--/*下面三个小图*/-->
    <!--.hot-great-three a {-->
    <!--display: inline-block;-->
    <!--float: left;-->
    <!--width: 176px;-->
    <!--height: 130px;-->
    <!--margin-right: 10px;-->
    <!--overflow: hidden;-->
    <!--position: relative;-->
    <!--}-->
    <!--.hot-great-three-title {-->
    <!--position: absolute;-->
    <!--top: 35px;-->
    <!--left: 10px;-->
    <!--font-weight: bold;-->
    <!--width:60px;-->
    <!--height:60px;-->
    <!--display: -webkit-box;-->
    <!-- -webkit-box-orient: vertical;-->
    <!-- -webkit-line-clamp: 3;-->
    <!--overflow: hidden;-->
    <!--}-->
    <!--.hot-great-three img {-->
    <!--position: absolute;-->
    <!--top: 10px;-->
    <!--right: 10px;-->
    <!--width: 100px;-->
    <!--height: 100px;-->
    <!-- -webkit-transition: all .2s;-->
    <!-- -moz-transition: all .2s;-->
    <!-- -ms-transition: all .2s;-->
    <!-- -o-transition: all .2s;-->
    <!--transition: all .2s;-->
    <!--}-->
    <!--.hot-great-three a:hover img{-->
    <!--margin-left: -10px;-->
    <!--}-->
    <!--</style>-->

    <!--<div class="hot-great" id="hot">-->
    <!--<div class="hot-great-box" ng-repeat="item in hotGoods">-->
    <!--<div class="hot-great-title" ng-style="{background:sklssb[$index%4]}">-->
    <!--<span>{{item.catName}}</span>-->
    <!--&lt;!&ndash;<div class="hot-great-title-btn">&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="">双十一</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="">双十一</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="">双十一</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="">双十一</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="hot-great-top">-->
    <!--<div class="hot-great-classify">-->
    <!--<a href="#/category/{{item.catId}}" ng-style="{color:sklssb[$index%4]}"><img ng-src="{{ZDiao[$index%2]}}" alt="分类"></a>-->
    <!--</div>-->
    <!--<div class="hot-great-four">-->
    <!--<span class="hot-great-four-v"></span>-->
    <!--<span class="hot-great-four-h"></span>-->
    <!--<a href="" ng-click="viewGoods(item.list[0].goodsId)" ng-style="{color:sklssb[$index%4]}">-->
    <!--<p class="hot-great-four-title">{{item.list[0].goodsName}}</p>-->
    <!--&lt;!&ndash;<p class="hot-great-four-text">2222</p>&ndash;&gt;-->
    <!--<img src="{{item.list[0].goodsThumb}}" alt="{{item.list[0].goodsName}}">-->
    <!--</a>-->
    <!--<a href="" ng-click="viewGoods(item.list[1].goodsId)" ng-style="{color:sklssb[$index%4]}">-->
    <!--<p class="hot-great-four-title">{{item.list[1].goodsName}}</p>-->
    <!--&lt;!&ndash;<p class="hot-great-four-text">2222</p>&ndash;&gt;-->
    <!--<img src="{{item.list[1].goodsThumb}}" alt="{{item.list[1].goodsName}}">-->
    <!--</a>-->
    <!--<a href="" ng-click="viewGoods(item.list[2].goodsId)" ng-style="{color:sklssb[$index%4]}">-->
    <!--<p class="hot-great-four-title">{{item.list[2].goodsName}}</p>-->
    <!--&lt;!&ndash;<p class="hot-great-four-text">2222</p>&ndash;&gt;-->
    <!--<img src="{{item.list[2].goodsThumb}}" alt="{{item.list[2].goodsName}}">-->
    <!--</a>-->
    <!--<a href="" ng-click="viewGoods(item.list[3].goodsId)" ng-style="{color:sklssb[$index%4]}">-->
    <!--<p class="hot-great-four-title">{{item.list[3].goodsName}}</p>-->
    <!--&lt;!&ndash;<p class="hot-great-four-text">2222</p>&ndash;&gt;-->
    <!--<img src="{{item.list[3].goodsThumb}}" alt="{{item.list[3].goodsName}}">-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="hot-great-three clearfix">-->
    <!--<a href="" ng-click="viewGoods(item.list[4].goodsId)" ng-style="{color:sklssb[$index%4]}">-->
    <!--<p class="hot-great-three-title">{{item.list[4].goodsName}}</p>-->
    <!--<img src="{{item.list[4].goodsThumb}}" alt="{{item.list[4].goodsName}}">-->
    <!--</a>-->
    <!--<a href="" ng-click="viewGoods(item.list[5].goodsId)" ng-style="{color:sklssb[$index%4]}">-->
    <!--<p class="hot-great-three-title">{{item.list[5].goodsName}}</p>-->
    <!--<img src="{{item.list[5].goodsThumb}}" alt="{{item.list[5].goodsName}}">-->
    <!--</a>-->
    <!--<a href="" ng-click="viewGoods(item.list[6].goodsId)" ng-style="{color:sklssb[$index%4]}">-->
    <!--<p class="hot-great-three-title">{{item.list[5].goodsName}}</p>-->
    <!--<img src="{{item.list[6].goodsThumb}}" alt="{{item.list[6].goodsName}}">-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="hot-great-box">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="hot-great-title">&ndash;&gt;-->
    <!--&lt;!&ndash;<span>家电馆</span>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="hot-great-title-btn">&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="">双十一</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="">双十一</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="">双十一</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="">双十一</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="hot-great-top">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="hot-great-classify">&ndash;&gt;-->
    <!--&lt;!&ndash;<a href=""><img src="" alt="分类"></a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="hot-great-four">&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="hot-great-four-v"></span>&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="hot-great-four-h"></span>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="">&ndash;&gt;-->
    <!--&lt;!&ndash;<p class="hot-great-four-title">111</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p class="hot-great-four-text">2222</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="" alt="分类">&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="">&ndash;&gt;-->
    <!--&lt;!&ndash;<p class="hot-great-four-title">111</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p class="hot-great-four-text">2222</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="" alt="分类">&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="">&ndash;&gt;-->
    <!--&lt;!&ndash;<p class="hot-great-four-title">111</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p class="hot-great-four-text">2222</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="" alt="分类">&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="">&ndash;&gt;-->
    <!--&lt;!&ndash;<p class="hot-great-four-title">111</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p class="hot-great-four-text">2222</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="" alt="分类">&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="hot-great-three clearfix">&ndash;&gt;-->
    <!--&lt;!&ndash;<a href=""><img src="" alt="分类"></a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href=""><img src="" alt="分类"></a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href=""><img src="" alt="分类"></a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div class="clearfix"></div>-->
    <!--</div>-->

    <!--<div class="hot-goods">-->
    <!--<div class="hot-goods-category" ng-repeat="item in hotGoods">-->
    <!--<div id={{item.catName}} class="hot-goods-category-name">-->
    <!--<div class="category-name">{{item.catName}}</div>-->
    <!--</div>-->
    <!--<div class="hot-goods-left">-->
    <!--<div class="hot-goods-item1" title="{{item.list[0].goodsName}}" ng-click="viewGoods(item.list[0].goodsId)">-->
    <!--<img src="{{item.list[0].goodsThumb}}" alt="{{item.list[0].goodsName}}">-->
    <!--<div class="goods-name">{{item.list[0].goodsName}}</div>-->
    <!--</div>-->
    <!--<div class="hot-goods-item2" title="{{item.list[1].goodsName}}" ng-click="viewGoods(item.list[1].goodsId)">-->
    <!--<div class="goods-name">{{item.list[1].goodsName}}</div>-->
    <!--<img src="{{item.list[1].goodsThumb}}" alt="{{item.list[1].goo dsName}}">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="hot-goods-right">-->
    <!--<div style="border:1px solid #ccc;">-->
    <!--<div class="hot-goods-item3" title="{{item.list[2].goodsName}}" {{item.list[1].goodsThumb}}>-->
    <!--<div class="goods-name">{{item.list[2].goodsName}}</div>-->
    <!--<img src="{{item.list[2].goodsThumb}}" ng-show="item.list.length>2" alt="{{item.list[2].goodsName}}">-->
    <!--<span class="nothing" ng-show="item.list.length<=2">暂无商品</span>-->
    <!--</div>-->
    <!--<div class="hot-goods-item4" title="{{item.list[3].goodsName}}" ng-click="viewGoods(item.list[3].goodsId)">-->
    <!--<div class="goods-name">{{item.list[3].goodsName}}</div>-->
    <!--<img src="{{item.list[3].goodsThumb}}" ng-show="item.list.length>3" alt="{{item.list[3].goodsName}}">-->
    <!--<span class="nothing" ng-show="item.list.length<=3">暂无商品</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div style="border:1px solid #ccc;border-top: none;">-->
    <!--<div class="hot-goods-item5" title="{{item.list[4].goodsName}}" ng-click="viewGoods(item.list[4].goodsId)" style="border-left:none;">-->
    <!--<div class="goods-name">{{item.list[4].goodsName}}</div>-->
    <!--<img src="{{item.list[4].goodsThumb}}" ng-show="item.list.length>4" alt="{{item.list[4].goodsName}}">-->
    <!--<span class="nothing" ng-show="item.list.length<=4">暂无商品</span>-->
    <!--</div>-->
    <!--<div class="hot-goods-item5" title="{{item.list[5].goodsName}}" ng-click="viewGoods(item.list[5].goodsId)">-->
    <!--<div class="goods-name">{{item.list[5].goodsName}}</div>-->
    <!--<img src="{{item.list[5].goodsThumb}}" ng-show="item.list.length>5" alt="{{item.list[5].goodsName}}">-->
    <!--<span class="nothing" ng-show="item.list.length<=5">暂无商品</span>-->
    <!--</div>-->
    <!--<div class="hot-goods-item6" title="{{item.list[6].goodsName}}" ng-click="viewGoods(item.list[6].goodsId)">-->
    <!--<div class="goods-name">{{item.list[6].goodsName}}</div>-->
    <!--<img src="{{item.list[6].goodsThumb}}" ng-show="item.list.length>6" alt="{{item.list[6].goodsName}}">-->
    <!--<span class="nothing" ng-show="item.list.length<=6">暂无商品</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>